.btn{
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  padding: 10px 18px;
  color: $whitey;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  @include card(1);
  margin: 0 2px;
  overflow: hidden;
  transition: box-shadow 300ms ease-out;
  &:hover{
    @include card(2);
  }
  &:not(:active){
    &:after{
      animation: ripple 500ms ease-out;
    }
  }
  &:focus:after {
    visibility: visible;
  }
  &:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    width: 100%;
    height: 300%;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgba(255, 255, 255, .5);
  }
  &:focus{
    outline: none;
  }
  &.btn-primary{
    background-color: $primary-color;
  }
  &.btn-accent{
    background-color: $accent-color;
  }
  &.btn-primary-flat{
    background-color: transparent;
    color: $primary-color;
  }
  &.btn-accent-flat{
    background-color: transparent;
    color: $accent-color;
  }
  &.btn-small{
    font-size: .7em;
    padding: 5px 8px;
  }
}
.icon-button{
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  margin: 4px;
  &.icon-codepen{
    background-image: url("../assets/svg/codepen-icon.svg");
  }
  &.icon-github{
    background-image: url("../assets/svg/github-icon.svg");
  }
  &.icon-twitter{
    background-image: url("../assets/svg/twitter-icon.svg");
  }

}

.btn-auth:before{
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 8px;
  background-size: contain;
  background-position: center;
}
.auth-twitter:before{
  background-image: url("../assets/svg/twitter-icon.svg");
}

.auth-github:before{
  background-image: url("../assets/svg/github-icon.svg");
}
