.form-container{
  @include card(2);
  background-color: white;
}
.form-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  min-width: 400px;
  .form-header-tab{
    flex-grow: 1;
    text-align: center;
    font-size: 1.5em;
    a, span{
      display: inline-block;
      padding: 14px 0;
      width: 100%;
    }
    a{
      background-color: $primary-color;
      color: $whitey;
    }
    span{
      color: $primary-color;
      //background-color: $whitey;
    }
  }
}

.form-body{
  padding: 18px 16px;
}

.form-input-group{
  width: 100%;
  position: relative;
  padding-top: 1.8em;
  input{
    width: 100%;
    font-size: 1.2em;
    padding: .2em .2em .2em .1em;
    border: none;
    border-bottom: 1px solid $gray-soft;
    &:focus{
      outline: none;
    }
    &:focus, &.dirty{
      &~label{
        transform: translateY(-1.8em);
        font-size: .9em;
      }
      &~hr{
        width: 100%;
      }
    }
  }
  label{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .2em .2em .4em .1em;
    font-size: 1.2em;
    color: $gray;
    transition: all 300ms ease;
    font-weight: lighter;
  }
  hr{
    margin: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    transform: translateX(-50%);
    border: none;
    border-top: 2px solid $primary-color;
    transition: all 300ms ease;
  }
}

.form-footer{
  padding: 0 16px 16px;
  h4{
    font-size: 1.2em;
    padding: .5em;
  }
}
