$roboto-font-path: "font/roboto/";
$primary-color: #263238; //deep orange 500
$accent-color: #9c27b0; //purple 500
$whitey: #efefef;
$blacky: #121212;
$gray: #ccc;
$gray-soft: rgba(32, 32, 32, .1);
$info-color: #43a047;
$error-color: #d32f2f;
$warning-color: #ef6c00;
