$roboto-font-path: "../assets/font/roboto/";
$primary-color: #263238;
$accent-color: #9c27b0;
$whitey: #efefef;
$whiteyer: #fefefe;
$blacky: #121212;
$gray: #bdbdbd;
$gray-soft: rgba(32, 32, 32, .1);
$white-soft: rgba(232, 232, 232, .1);
$info-color: #43a047;
$error-color: #d32f2f;
$warning-color: #ef6c00;
